<style>
* {
  box-sizing: border-box;
}

/* Schrift */
		body {margin:0;
		font-family: courier;
		}
		h1 {
          color: Black;
          font-size: 800%;
          text-align: center;
        }
        h2 {
          color: Black;
          font-size: 400%;
          text-align: center;   
        }
		h3 {
          color: Black;
          font-size: 200%;
          text-align: center;  
        }
        p  {
          color: grey;
          font-size: 100%;
          text-align: center;
        }
		b {
          color: Black;
        }
/* Gruppen */
	   .main {
            padding: 16px;
            margin-top: 30px;
            height: 1500px; /* Used in this example to enable scrolling */
          }
/* Tabellen */
        table {
          border-collapse: collapse;
          width: 80%;
        }
        td, th {
          border: 1px solid #dddddd;
          padding: 8px;
        }
/* Links */		
        a {text-decoration: none;
          color: Black;
          }

</style>
